h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 84px;
    color: #158CBA
}

h1 {
  padding-top: 100px;
}

h1.title {
  text-align: center;
}

pre {
    border: 0px solid #cccccc;
    border-radius: 0px;
 }







/* ---------- Links ----------------- */
a {
  color: #158CBA;
}
a:hover {
  color: #158CBA;
}




/* ---------- TOC ----------------- */
#TOC {
  top: 30%;
  position: fixed;
  width: 210px;
}
.tocify {
  border: none;
  color: grey;
  border-radius: 0px;
}
.list-group-item.active {
    color: #158CBA;
    background-color: white;
    border-left: solid;
    border-color: #158CBA;
}
.list-group-item:hover {
    color: #158CBA;
    background-color: white;
    border-left: solid;
    border-color: #158CBA;
}
.tocify-extend-page {
  display: none;
}


/* ------ This is just to fix the bug on Safari where table of content is on top of content */
.toc-content {
  margin-left: 230px
}




/* ---------- Button ----------------- */
.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
    text-transform: ;
    color: #158CBA;
}
.btn-default {
    color: #158CBA;
    background-color: #ffffff;
    border-color: #ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #158CBA;
}
