h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 84px;
}

h1.title {
  text-align: center;
}

pre {
    border: 0px solid #cccccc;
    border-radius: 0px;
 }


.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
    text-transform: ;
}
.btn-default {
    color: #2ecc71;
    background-color: #ffffff;
    border-color: #ffffff;
}


